  
  <!--<form action="/users" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="email">Email</label>
  <input type="email" name="user[email]" id="email">
  <label for="username">Username</label>
  <input type="text" name="user[username]" id="username">
  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">
  <input type="submit" value="Submit">
</form>-->

<!--<%= form_tag("/users", method: "POST") do %>
    <%= label_tag(:email, "Email") %>
    <%= email_field_tag(:email) %>
    <%= label_tag(:username, "Username") %>
    <%= text_field_tag(:username) %>
    <%= label_tag(:password, "Password") %>
    <%= password_field_tag(:password) %>
    <%= submit_tag("Submit") %>
  <% end %>-->
  
  <%# <%= render "helper", user: @user %> %>
  <%= new_error_helper(@user) %>
  
  <%= form_with(model: @user, method: "POST") do |form| %>
    <%= label_tag(:email, "Email") %>
    <%= form.email_field(:email, placeholder: "ex: johndoe@example.com") %>
    <%= label_tag(:username, "Your Username Here") %>
    <%= form.text_field(:username) %>
    <%= label_tag(:password, "Password") %>
    <%= form.password_field(:password) %>
    <%= submit_tag("Submit") %>

  <% end %>